Edits

unsubscribe | change your subscribtion choice

<ul>
<li>User_id:<%=@user.id%></li>
<li>User Phone:<%=@user.phone%></li>
<li>User Preference:<%=@user.preference%></li>
<li>User Subscribed: <%=@user.subscribed%></li>
<li>User Params: <%=params%></li>
<li>User: <%=@user%></li>
</ul>
